* {
    font-family: 'Montserrat', sans-serif;
}

/* .card-group-custom {
    margin: 20px;
    margin-top: 80px;
    border: 1px solid rgb(214, 243, 47);;
    border-radius: 15px;
}  */





